xml/CleanCodeSaver.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="CleanCodeSaver/1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TextCollection" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Entry" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="Caption" type="xs:string" use="required" />
                  <xs:attribute name="Text" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
           <xs:attribute name="Color" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>